/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Grandstander;
	src: url(/fonts/Grandstander.ttf);
}
html {
	@apply scroll-smooth;
}

h1 {
	@apply font-[Grandstander] font-black;
}

h2 {
	@apply font-[Grandstander] font-bold;
}

h3 {
	@apply font-[Grandstander] font-bold;
}
