---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={`Blog ${frontmatter.title}`}>
  <article class='mt-16 mx-6 md:mx-auto prose'>
    <h1>{frontmatter.title}</h1>
    <p class='font-bold text-neutral-500'>
      {frontmatter.author} at {frontmatter.pubDate}
    </p>
    <slot />
  </article>
</BaseLayout>
