---
import Founders from "../assets/FOUNDERS.jpeg";
import Bar from "../assets/BAR.png";
import Eljas from "../assets/ELJAS.jpg";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title='Home'
  title2='BarMates - Sports nutrition by athletes for athletes'
  desc='BarMates is a swiss-founded company that specializes in producing energy and protein bars for athletes.'
>
  <!-- Hero -->
  <div class='h-[90dvh] hero flex flex-col text-center'>
    <div class='mx-auto my-auto'>
      <h1 class='text-secondary flex justify-center'>
        {
          "BarMates".split("").map((letter) => {
            return (
              <span class='hover:text-primary duration-300 ease-in-out text-6xl md:text-9xl'>
                {letter}
              </span>
            );
          })
        }
      </h1>
      <p class='text-primary font-bold text-sm md:text-3xl'>
        Innovative bars made in Switzerland
      </p>
    </div>
    <a
      href='#about'
      class='text-primary mb-8 group mx-auto hover:scale-105 duration-200 ease-in-out active:scale-105'
    >
      <p class='md:text-xl font-bold duration-200'>Find out more!</p>
      <i
        class='fa-solid fa-chevron-down text-2xl md:text-4xl group-hover:translate-y-2 duration-200 ease-in-out'
      ></i>
    </a>
  </div>

  <!-- Founders -->
  <div
    class='grid grid-rows-2 md:grid-rows-none md:grid-cols-2 text-primary'
    id='about'
  >
    <div class='flex flex-col justify-center p-2 md:p-8'>
      <h1 class='mx-auto my-2 md:my-4'>The Founders</h1>
      <div class='carousel rounded-3xl w-[75%] md:w-[50%] mx-auto'>
        <div id='slide1' class='carousel-item w-full relative'>
          <img src={Founders.src} alt='founders' />
          <div class='absolute flex justify-end transform bottom-5 right-5'>
            <a
              href='#slide2'
              class='text-secondary bg-secondary/25 border-2 btn btn-square'
              ><i class='fa-solid fa-arrow-right'></i></a
            >
          </div>
        </div>
        <div id='slide2' class='carousel-item w-full relative'>
          <img src={Eljas.src} alt='founders' />
          <div class='absolute flex justify-start transform bottom-5 left-5'>
            <a
              href='#slide1'
              class='text-primary bg-primary/25 border-2 btn btn-square'
              ><i class='fa-solid fa-arrow-left'></i></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class='flex items-center'>
      <div class='text-lg md:text-xl w-[75%] mx-auto'>
        <p class='my-4'>
          We are three 16-year-old students from Zurich, Switzerland. We are
          competitive rowing athletes at Belvoir Rowing Club Zurich. We love
          Protein and energy bars and are fascinated in sports nutrition.
        </p>
        <p class='my-4'>
          Marko is responsible for our social media presence and marketing.
          Neville is the head of the design and our web developer.
        </p>
        <p class='my-4'>
          Eljas is the newest member of our team. His skills are strategic
          thinking and he is responsible for logistical and legal decisions.
        </p>
      </div>
    </div>
  </div>

  <!-- Company -->
  <div
    class='grid grid-rows-2 md:grid-rows-none md:grid-cols-2 text-secondary'
    id='about'
  >
    <div class='flex flex-col justify-center p-2 md:p-8'>
      <h1 class='mx-auto my-2 md:my-4'>The Company</h1>
      <img src={Bar.src} alt='founders' class='w-[75%] md:w-[50%] mx-auto' />
    </div>
    <div class='p-8 flex'>
      <p class='my-auto text-lg md:text-xl prose'>
        <span
          class='font-[Montserrat] font-bold hover:text-primary duration-300'
        >
          BarMates
        </span>{" "}
        was founded in 2023 in Zurich, Switzerland. Our mission is to create the
        perfect and healthy energy bar. Find out more on our <a href='/mission'
          >mission</a
        > page
      </p>
    </div>
  </div>
</BaseLayout>

<style>
  h1 {
    @apply text-4xl;
  }
</style>
