---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title='Catalogue'>
  <div class='h-[75dvh] w-screen flex'>
    <div
      class='m-auto text-center hover:scale-105 duration-150 ease-in-out active:scale-100'
    >
      <h1 class='text-4xl text-primary group'>
        This page is currently under{" "}
        <span class='text-secondary italic'>
          construction{" "}
          <i
            class='fa-solid fa-hammer group-hover:rotate-[25deg] duration-150 ease-in-out'
          ></i>
        </span>
      </h1>
    </div>
  </div>
</BaseLayout>
