/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Montserrat;
	src: url(/fonts/Montserrat.ttf);
}
html {
	@apply scroll-smooth;
}

h1 {
	@apply font-[Montserrat] font-black;
}

h2 {
	@apply font-[Montserrat] font-bold;
}

h3 {
	@apply font-[Montserrat] font-bold;
}
